// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.btn {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 8pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 8px 8px;   /* 余白       */
  background    : #faebd7;     /* 背景色     */
  color         : black;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 0 4px 2px #666666;  /* 影の設定 */
  border        : 1px solid black;    /* 枠の指定 */
  text-decoration: none;
  margin-right: 10px;
}
.btn:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : black;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}

.new_btn{
  float: right;
}

.user_login{
  float: right;
}
.footer{
  text-align: center;
}
.fc-button{
  background-color: #faebd7;
}
th{
  text-align: center;
}
.field{
  font-size: 20px;
}
.actions{
  font-size: 20px;
}
input{
  padding: 10px;
}
input, label, textarea{
  appearance: none;
}
